.alt-screen-header {
  padding: var(--horizontal-space);
  width: 100%;
  position: sticky;
  top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-screen-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-screen-header__column:last-child i:last-child {
  margin-left: 20px;
  font-size: 18px;
}

.alt-screen-header__column h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
